<div id="bloc_page">
  <header>
      
<div class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#" style="padding-left: 13px;">Angular Spree</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
      </div>
      <div class="collapse navbar-collapse" id="navbarContent">
          <ul class="nav navbar-nav">
        
            <li >
              <a style="margin-left: 10px;">Mugs</a>
            </li>
            <li>
                <a style="margin-left: 10px;">Bags</a>
              </li>
              <li>
                  <a style="margin-left: 10px;">Ruby</a>
                </li>
          </ul>
      <ul class="nav navbar-nav navbar-right" style="margin-right: 20px;">
        <!-- Search form -->
        <li class="searchbar nav-item nav-link" data-toggle="collapse"> 
          <input class="form-control" type="text" placeholder="Search" aria-label="Search" [(ngModel)]="searchtext.title"> 
        </li>
        <li routerLinkActive="active" class="nav-item nav-link" data-toggle="collapse"> 
          <a><span class="glyphicon glyphicon-user"></span>  Login</a>
              
        </li>
        <li routerLinkActive="active" class="nav-item nav-link" data-toggle="collapse"> 
            <a><span class="glyphicon glyphicon-shopping-cart"></span>  Cart</a>
                
          </li>
      </ul>
      </div>
    </div>
  
  </div>

  
  </header>


  
  <div id="pushcontent">
  
  <section>

  
  
      <aside>
          <div class="panel panel-default" style="margin-top: 10px;">
              <div class="panel-heading">
                <p class="panel-title category">CATEGORY</p>
              </div>
              <div class="panel-body">
                  <input type="checkbox"  [(ngModel)]="filter.menclothes" (ngModelChange)="filterChange()">
                  <label>Men clothes</label><br>
                  <input type="checkbox"[(ngModel)]="filter.electronics" (ngModelChange)="filterChange()">
                  <label>Electronics</label><br>
                  <input type="checkbox" [(ngModel)]="filter.womenclothes" (ngModelChange)="filterChange()">
                  <label>Woman clothes</label><br>
                  <input type="checkbox" [(ngModel)]="filter.accessory" (ngModelChange)="filterChange()">
                  <label>Accessory</label><br>
              </div>
            </div>
         
           
           
         
           </aside>
  
  
    <article style="margin-top: 22px;">
  
    <div style="display:inline-block;margin-bottom: -10px;">
      
      
        <p class="title">Product list </p>
    </div>
    <div style="margin-bottom: -10px; float:right;">
  
   
       <p>Price : <button (click)="sortlow()"><a>Low</a></button><button (click)="sorthigh()"><a>High</a></button></p>
  
    </div>
    <hr>
  
 
  
  <div class="grid-container">
  
    <div *ngFor="let produit of produits | filterBy:searchtext" >
  
      
  
    <div class="grid-item">
      <img src='{{ produit.imgurl }}'>
       <p> {{ produit.title }}</p>
       <p>{{ produit.description}}</p>
       <p>{{ produit.price }} MAD</p>
    </div>
    </div>
  
      
  
  </div>
  
      
      
  
    </article>
  
  </section>
  </div>

  </div>