aside
{
    flex: 0.8;
    border-radius: 5px;
    padding: 10px;
    font-size: 0.9em;
    margin-right: 10px;
}

.title{
    margin-bottom: -5px;
    font-size: 14px;
}
#bloc_page
{
    width: auto;
 
}
section
{
    display: flex;
    margin-top: 40px;
    margin-left: 30px;
    margin-right: 30px;
}
article
{
    margin-right: 20px;
    flex: 3.4;
}
img{
    height: 120px;
    width: auto;
}
p{
    color: gray;
   margin:-2px;

}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    text-align: center;
  }


  @media all and (max-width: 1024px){

   
    
    section
    {
        flex-direction: column;
    }
    article, aside
    {
        width: auto;
        margin-bottom: 15px;
    }
    
  }