<app-header (filterproducts)="products=$event" [products]=products ></app-header>
<div id="bloc_page">
        <section>
            <aside>
                <app-category (filterbycategorie)="products=$event"></app-category>
              </aside>
          <article style="margin-top: 22px;">
        
                <div style="display:inline-block;margin-bottom: -10px;">
                    <p class="title">Product list </p>
                </div>
                <div style="margin-bottom: -10px; float:right;">
                    <p>Price : 
                        <app-pricelow (sortpricelow)="products=$event" ></app-pricelow>
                        <app-pricehigh (sortpricehigh)="products=$event"></app-pricehigh>
                    </p>  
                </div>
                <hr>
                <div class="grid-container">
                   
                
                    <div *ngFor="let produit of products" >
                        <div class="grid-item">
                            <app-singleproduct [produit]=produit></app-singleproduct>
                        </div>
                    </div>
                </div>
                
               
          </article>  
        </section>
      </div>
      
